:root {
    --bg-1: #0dceda;
    --bg-2: #76d3df;
    --bg-3: #c6fce5;
    --bg-4: #ebfffa;
}


/* Google Font  */

@import url('pages/css/font.css');

/* Pulse Loader */

@import url('pages/css/loader.css');
@media screen and (min-width: 0px) {
    .name-container {
        background-color: var(--bg-4);
        transition: background-color 0.5s ease;
    }
    .name-container-text {
        font-size: 15px;
        transition: font-size 0.5s;
    }
    .btn {
        font-size: 10px;
        width: 20px;
        height: 20px;
        background-color: coral;
        color: snow;
        transition: width, height, color, background-color 0.5s;
        transition: font-size 0.5s;
    }
}

@media screen and (min-width: 440px) {
    .name-container {
        background-color: var(--bg-3);
        transition: background-color 0.5s ease;
    }
    .name-container-text {
        font-size: 25px;
        transition: font-size 0.5s;
    }
    .btn {
        font-size: 15px;
        width: 25px;
        height: 25px;
        background-color: coral;
        color: snow;
        transition: width, height, color, background-color 0.5s;
        transition: font-size 0.5s;
    }
    .social-media {
        font-size: 20px;
        transition: font-size 1s;
    }
}

@media screen and (min-width: 680px) {
    .name-container {
        background-color: var(--bg-2);
        transition: background-color 0.5s ease;
    }
    .name-container-text {
        font-size: 50px;
        transition: font-size 0.5s;
    }
    .btn {
        font-size: 15px;
        width: 30px;
        height: 30px;
        background-color: snow;
        color: coral;
        transition: width, height, color, background-color 0.5s;
        transition: font-size 0.5s;
    }
    .social-media {
        font-size: 20px;
        transition: font-size 1s;
    }
}

@media screen and (min-width: 1100px) {
    .name-container {
        background-color: var(--bg-1);
        transition: background-color 0.5s ease;
    }
    .name-container-text {
        font-size: 100px;
        transition: font-size 0.5s;
    }
    .btn {
        font-size: 30px;
        width: 50px;
        height: 50px;
        background-color: snow;
        color: coral;
        transition: width, height, color, background-color 0.5s;
        transition: font-size 0.5s;
    }
    .social-media {
        font-size: 25px;
        transition: font-size 1s;
    }
}

.name-container-text {
    position: relative;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    cursor: pointer;
}

.name-container-text-group {
    margin-top: 35vh;
}


/* .name-container-text-group :hover {
    animation: text-animation 1s;
    animation-iteration-count: 1;
} */

.name-container-text-animation {
    animation: text-animation 1s;
}

@keyframes text-animation {
    0% {
        color: snow;
        top: -1rem;
    }
    60% {
        color: coral;
        top: 0.5ex;
    }
    100% {
        color: black;
        top: 0rem;
    }
}


/* @media only screen and (min-width: 850px) {} */

.name-container {
    position: relative;
    display: inline-block;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fade-in {
    position: relative;
    animation: fade-in 2s;
}

* {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

@keyframes fade-in {
    from {
        opacity: 0.2;
        top: -2rem;
    }
    to {
        opacity: 1;
        top: 0rem;
    }
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


/* Style buttons */

.btn {
    /* border-radius: 50%; */
    border: none;
    cursor: pointer;
    margin-top: 5rem;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.btn-icon {
    display: flex;
    justify-content: space-around;
}

.btn-sha-right-down {
    box-shadow: 0.5ex 0.5ex rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
}

.btn-sha-left-down {
    box-shadow: -0.5ex 0.5ex rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
}

.btn-sha-left-top {
    box-shadow: -0.5ex -0.5ex rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
}

.btn-sha-right-top {
    box-shadow: 0.5ex -0.5ex rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
}

.btn-no-sha {
    box-shadow: 0rem 0rem rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
}

.social-media {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-family: 'Prompt', sans-serif;
}

.social-media>.social-media-icons>.btn {
    margin-top: 0vh;
    background-color: black;
}

.social-media>.social-media-icons>.btn>.btn-icon>.icon {
    color: snow;
}

.social-media>.social-media-icons>.btn>.btn-icon>.icon:hover {
    color: lightgreen;
}

.social-media>.soc-title {
    margin: 1.5rem;
    font-family: 'Sarabun', sans-serif;
    color: snow;
}

.social-media>.social-media-icons {
    margin-top: 0vh;
    margin-bottom: 1rem;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}


/* Darker background on mouse-over */

.btn:hover .icon {
    color: black;
    transition: color 1s;
}

.btn-down-ani {
    animation: btn-down-ani 1s;
}

@keyframes btn-down-ani {
    0% {}
}

.me-container {
    height: 100vh;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.my-img-contianer {
    height: 30vh;
    width: 30vh;
    background-color: snow;
    margin: 5px;
}

.gallery-btn {
    display: flex;
    background-color: coral;
    border-width: 0px;
    width: 200px;
    height: 60px;
    text-align: center;
    justify-items: center;
    justify-content: center;
    font-family: 'Sarabun', sans-serif;
    font-size: 20px;
    margin: 5px;
    text-decoration: none;
    color: snow;
}

.gallery-btn-text {
    margin-top: auto;
    margin-bottom: auto;
}

.gallery-btn:hover {
    background-color: salmon;
}