@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@media screen and (min-width: 0px) {
    .name-container {
        background-color: lightblue;
        transition: background-color 0.5s ease;
    }
    .name-container-text {
        font-size: 25px;
        transition: font-size 0.5s;
    }
}

@media screen and (min-width: 450px) {
    .name-container {
        background-color: skyblue;
        transition: background-color 0.5s ease;
    }
    .name-container-text {
        font-size: 50px;
        transition: font-size 0.5s;
    }
}

@media screen and (min-width: 870px) {
    .name-container {
        background-color: teal;
        transition: background-color 0.5s ease;
    }
    .name-container-text {
        font-size: 100px;
        transition: font-size 0.5s;
    }
}

.name-container-text {
    position: relative;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.name-container-text-group {
    margin-top: 35vh;
}


/* .name-container-text-group :hover {
    animation: text-animation 1s;
    animation-iteration-count: 1;
} */

.name-container-text-animation {
    animation: text-animation 1s;
}

@keyframes text-animation {
    0% {
        color: snow;
        top: -1rem;
    }
    50% {
        color: springgreen;
        top: 0rem;
    }
    100% {
        color: black;
        top: 0rem;
    }
}


/* @media only screen and (min-width: 850px) {} */

.name-container {
    position: relative;
    display: inline-block;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fade-in {
    position: relative;
    animation: fade-in 2s;
}

* {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

@keyframes fade-in {
    from {
        opacity: 0.2;
        top: -2rem;
    }
    to {
        opacity: 1;
        top: 0rem;
    }
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}