@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('loader.css');
* {
    font-family: 'Open Sans', sans-serif;
}

.title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: coral;
    height: 100vh;
    font-size: 48px;
}

.title.fold {
    animation: fold 2s;
    height: 30vh;
    background-color: white;
    font-size: 20px;
}

@keyframes fold {
    0% {
        height: 100vh;
        background-color: coral;
        font-size: 48px;
    }
    30% {
        height: 100vh;
        background-color: coral;
        font-size: 48px;
    }
    100% {
        height: 30vh;
        background-color: white;
        font-size: 20px;
    }
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10vw;
    margin-right: 10vw;
    position: relative;
}

.my-img {
    position: relative;
    margin: 5px;
}

.img {
    position: relative;
    /* display: block; */
}

@media only screen and (min-width: 0px) {
    .img {
        width: 150px;
        transition: width 0.5s;
    }
}

@media only screen and (min-width: 300px) {
    .img {
        width: 200px;
        transition: width 0.5s;
    }
}

@media only screen and (min-width: 700px) {
    .img {
        width: 300px;
        transition: width 0.5s;
    }
}

.img-container {
    position: relative;
}

.text {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 2;
    transition: background-color 0.5s;
    text-align: center;
    color: snow;
}


/* .my-img:hover .text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.8);
    transition: background-color 0.5s;
} */