.loader-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    max-width: 100%;
    z-index: 10;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader > span {
    display: inline-block;
    background-color: coral;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 8px;
    animation: bounce 1s infinite alternate;
}

.loader > span:nth-child(1) {
    animation-delay: 0s;
}

.loader > span:nth-child(2) {
    background-color: tomato;
    /* background-color: salmon; */
    animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        width: 32px;
        height: 32px;
        transform: translate3d(0px, -16px, 0px);
    }
}
