@import url('font.css');
.my-oreo {
    width: 300px;
    background-color: lightblue;
}

.controller {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.btn {
    background-color: lightcoral;
    border: 0px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.my-oreo-container {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
}

.text {
    justify-content: center;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    width: 80vw;
}

html {
    background-color: lightblue;
    font-family: 'Open Sans', sans-serif;
    ;
}