@import url("font.css");
@import url("loader.css");
body {
    margin: 0;
}
canvas {
    display: block;
}
#score {
    position: fixed;
    z-index: 2;
    margin: 20px;
}
#gameOver {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    color: yellow;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}
#desc {
    font-size: 16px;
    color: black;
}
.ui-page {
    outline: none;
}
html {
    background-color: lightblue;
    font-family: "Open Sans", sans-serif;
}

#instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}
#instruction_text {
    font-size: 20px;
    color: yellow;
}
#hint {
    font-size: 16px;
    color: black;
}
