@import url("font.css");
body {
    margin: 0;
}
canvas {
    display: block;
}
#score {
    position: fixed;
    z-index: 2;
    margin: 20px;
}
.ui-page {
    outline: none;
}
html {
    background-color: lightblue;
    font-family: "Open Sans", sans-serif;
}
